:root { 
	--main-color: #5ff3f3; 
	--black: #13131a; 
	--bg: #010103; 
	--border: .1rem solid rgba(255, 255, 255, .3);
}

.header {
	background: var(--bg);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem 7%;
	border-bottom: var(--border);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	height: 100px;
}

.header .navbar a {
	margin: 0 1rem;
	font-size: 1.6rem;
	color: #fff;
}

.header .navbar a:hover {
	color: var(--main-color);
	border-bottom: .1rem solid var(--main-color);
	padding-bottom: .5rem;
}

.header .icons div {
	color: #fff;
	cursor: pointer;
	font-size: 2.5rem;
	margin-left: 2rem;
}

.header .icons div:hover{
	color:var(--main-color);
}

.header .cart-items-container {
	position: absolute;
	top: 100%;
	right: -100%;
	height: calc(100vh - 9.5rem);
	width: 35rem;
	background: #fff;
	padding: 0 1.5rem;
}

.header .cart-items-container .cart-item {
	position: relative;
	margin: 2rem 0;
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 2rem;
	cursor: pointer;
	color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover {
	color: var(--main-color);
}

.header .cart-items-container .cart-item .content h3 {
	font-size: 1.5rem;
	color: var(--black);
	padding-bottom: .5rem;
}

.header .cart-items-container .btn {
	width: 100%;
	text-align: center;
}

.header .cart-items-container.active{
	right: 0;
}

.header .discount-container {
	position: absolute;
	top: -200%;
	right: -100%;
	height: calc(100vh - 9.5rem);
	width: 80rem;
	background: rgb(177, 177, 177);
	padding: 0 1.5rem;
}

.header .discount-container.active{
	right: 40%;
	top: 110%;
	background: rgb(177, 177, 177);
}


