:root { 
	--main-color: #5ff3f3; 
	--black: #13131a; 
	--bg: #010103; 
	--border: .1rem solid rgba(255, 255, 255, .3);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	text-transform: capitalize;
	transition: .2s linear;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-padding-top: 9rem;
	scroll-behavior: smooth;
}

html::-webkit-scrollbar {
	width: .8rem;
}

html::-webkit-scrollbar-track {
	background: transparent;
}

html::-webkit-scrollbar-thumb {
	background: #fff;
	border-radius: 5rem;
}

body {
	background: var(--bg);
}

section{
	padding: 2rem;
}

.btn {
	margin-top: 1rem;
	display: inline-block;
	padding: .9rem 3rem;
	font-size: 1.7rem;
	color: #fff;
	background: var(--main-color);
	cursor: pointer;
}

.btn:hover {
	letter-spacing: .2rem;
}


.home{
	min-height: 100vh;
	display: flex;
	align-items: center;
	background: url(../images/bmx3.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 100px;
}

.parent {
  border: 1px solid;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.child {
  display: inline-block;
  border: 1px solid;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.button_flag{    
	position:absolute;
    bottom:10px;
    right:10px;
    width:100px;
    height:30px;
}

#img_container {
    position:relative;
    display:inline-block;
    text-align:center;
    border:1px solid red;
}

















@media ( max-width :991px) {
	html {
		font-size: 55%;
	}
	.header {
		padding: 1.5rem 2rem;
	}
	
	section{
	padding: 2rem;
}
}

@media ( max-width :991px) {
	#menu-btn {
		display: inline-block;
	}
	.header .navbar {
		position: absolute;
		top: 100%;
		right: 0;
		background: #fff;
		background: 30rem;
		height: calc(100vh - 9.5rem);
	}
	.header .navbar a {
		color: #fff;
		display: block;
		margin: 1.5rem;
		padding: .5rem;
		font-size: 2rem;
	}
}