
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 8vh;
	background-color: #D9E5DE;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

h1 {
	color: #fff;
}

.shopping-cart {
	width: 26% !important;
	position: absolute;
	left: 72%;
	top: 25%;
	padding:10px 20px;
}

.shopping-cart-wrapper{
	overflow-y: auto;
	max-height: 350px;
}

.totalPrice {
	text-align: right;
	padding: 5%;
}

.shopping-cart-button {
	width: 95%;
	text-align: center;
	cursor: pointer;
	background: #B1FFD6;
	margin: 10px auto;
	padding: 10px 15px;
}

.shopping-cart-icon {
	text-align: right;
}