<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.com">
<head>
<title>Shopping Cart</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/basket.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
</head>
<!--  <style>
input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button
	{
	opacity: 1;
	margin-left: -14px;
	-webkit-appearance: none;
	margin: 0;
	-moz-appearance: textfield !important;
}
</style>-->
<body>
	<main class="page">
		<section class="shopping-cart dark">
			<div class="container">
				<div class="block-heading">
					<h2>[[#{cartLabel}]]</h2>
					<ul class="nav nav-tabs">
						<li class="nav-item"><a class="nav-link" aria-current="page"
							th:href="@{/cart}" th:text="#{allShops}"></a></li>
						<th:block
							th:each="shopModel : ${T(com.bmxApp.enums.Shop).getShops()}">
							<li class="nav-item"><a class="nav-link" aria-current="page"
								th:href="@{/cart/{shopName}(shopName=${shopModel.name()})}"
								th:value="${shopModel}" th:text="${shopModel}"></a></li>
						</th:block>
					</ul>
				</div>
				<div class="content">
					<div class="row">
						<div class="col-md-12 col-lg-8">
							<div class="items">
								<th:block th:each="basketProduct : ${basketProducts}">
									<div class="dtoProduct"
										th:with="dtoProduct = ${basketProduct.dtoProduct}">
										<div class="row">
											<div class="col-md-3">
												<img class="img-fluid mx-auto d-block image"
													th:src="@{${dtoProduct.imageUrl}}">
											</div>
											<div class="col-md-8">
												<div class="info">
													<div class="row">
														<div class="col-md-5 product-name">
															<div class="product-name">
																<a th:href="@{${dtoProduct.url}}">[[${basketProduct.dtoProduct.productName}]]</a>
																<div class="product-info">
																	<div>
																		[[#{singlePrice}]] <span class="value">[[${dtoProduct.price}]]</span>
																	</div>
																	<div>
																		[[#{shopName}]] <span class="value">[[${basketProduct.shopName}]]</span>
																	</div>
																	<form
																		th:action="@{/removeBasketProduct/{productId} (productId=${basketProduct.productId})}"
																		th:method="delete">
																		<div>
																			<input type="hidden" name="currentURL"
																				th:value="${currentURL}">
																			<button class="btn">
																				<i class="fas fa-trash icon-dark"></i>
																			</button>
																		</div>
																	</form>
																	<div>
																		<form th:object="${shopModel}" th:action="@{/search}"
																			method="get">
																			<input type="hidden" name="shop"
																				th:value="${dtoProduct.shopName}"> <input
																				type="hidden" name="category"
																				th:value="${dtoProduct.category}">
																			<button type="submit" value="submit"
																				class="btn btn-info">[[#{selectProducts}]]</button>
																		</form>
																	</div>
																</div>
															</div>
														</div>

														<div class="col-md-4 quantity">
															<form th:action="@{/changeQuantity}" th:method="patch">
																<input type="hidden" name="productId"
																	th:value="${basketProduct.productId}"> <input
																	type="hidden" th:value="-1" name="quantityValue"
																	class="minus-input"> <span>
																	<button type="submit" value="submit"
																		class="btn btn-info" id="minus-button">-</button>

																</span>
															</form>
															<form id="quantityForm" th:action="@{/changeQuantity}"
																th:method="patch">
																<input type="hidden" name="productId"
																	th:value="${basketProduct.productId}"> <input
																	type="number" id="quantityContainer"
																	th:name="quantityContainer" min="0" max="100"
																	th:value="${basketProduct.quantity}">
															</form>
															<form th:action="@{/changeQuantity}" th:method="patch">

																<input type="hidden" name="productId"
																	th:value="${basketProduct.productId}"> <input
																	type="hidden" name="quantityValue" th:value="1"
																	class="plus-input"> <span>
																	<button type="submit" value="submit" th:value="1"
																		th:name="btnValue" class="btn btn-info"
																		id="plus-button">+</button>
																</span>
															</form>
														</div>

														<div class="col-md-3 price">
															<span>[[${totalPriceForBasketProduct.get(basketProduct.productId)}]]</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</th:block>
								<div class="noProduct">
									<div th:if="${#lists.isEmpty(basketProducts)}">
										<h3>[[#{noProducts}]]</h3>
										<span>[[#{summaryAddButton}]]</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-4">
							<div class="summary">
								<h3>[[#{summary}]]</h3>
								<div class="summary-item">
									<span class="text">[[#{totalPrice}]]</span><span class="price">[[${totalPrice}]]</span>
								</div>
								<div class="summary-item">
									<span class="text">[[#{discountText}]]</span><span
										class="price" style="color: red">[[${totalDiscount}]]</span>
								</div>
								<div class="summary-item">
									<span class="text">[[#{finalPrice}]]</span><span class="price">[[${finalPrice}]]</span>
								</div>
								<form th:action="@{/deleteProducts}" th:method="delete">
									<button type="submit" value="submit" class="btn btn-danger">[[#{deleteButton}]]</button>
								</form>
								<a th:href="@{/main}">
									<button type="submit" value="submit" class="btn btn-info">[[#{mainPage}]]</button>
								</a> <br> <br>
								<form th:action="@{/applyCartDiscount}" th:method="post">
									<input class="form-control-lg" type="number" min="0" max="100"
										step="1" th:placeholder="${discountValue}"
										th:value="*{discountV}" name="value" /> <input type="hidden"
										name="currentURL" th:value="${currentURL}" />
									<button type="submit" value="submit" class="btn btn-info"
										th:text="ENTER"></button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>
	</main>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.2/js/bootstrap.min.js"></script>
</body>
</html>