<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.com">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet" th:href="@{/main.css}"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous" />

<link rel="stylesheet" th:href="@{/main.css}">
<link rel="stylesheet" th:href="@{/header.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
	integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

	<!-- HEADER -->

	<header class="header">

		<a href="#" class="logo"> <img th:src="@{/logo.png}">
		</a>
		<nav class="navbar">
			<a href="https://bmxspokecalc.com/" th:text="#{calculator}"></a> <a
				th:href="@{/cart}" th:text="#{profile}"></a> <a th:href="@{/cart}"
				th:text="#{contact}"></a>
		</nav>
		<form th:action="@{/(lang=en)}">
			<input type="image" th:src="@{/images/pl.png}" width="30" height="20"
				alt="Submit"> <input type="image" th:src="@{/images/gb.png}"
				width="30" height="20" alt="Submit">
		</form>

		<div class="icons">

			<div class="fas fa-shopping-cart" id="cart-btn"></div>
		</div>

	</header>

	<!-- HEADER -->

	<section class="home" id="mainPage">
		<div class="parent">
			<form th:object="${shopModel}" th:action="@{/search}" method="get">
				<div class="child">
					<div th:each="model : ${T(com.bmxApp.enums.Shop).values()}">
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" th:field="*{shop}" th:value="${model}"
								class="custom-control-input"> <label
								class="custom-control-label" th:for="${#ids.prev('shop')}"
								th:text="${model.name()}"></label>
						</div>
					</div>
				</div>
				<div class="child">
					<div th:each="partButton : ${T(com.bmxApp.enums.Part).values()}">
						<button class="btn btn-primary" type="submit" name="category"
							th:value="${partButton.name}"
							th:text="#{${partButton.name().toLowerCase()}}"></button>
					</div>
				</div>
			</form>
		</div>
	</section>
	<script type="text/javascript" th:src="@{/js/mainPageJS.js}"></script>
</body>
</html>