<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.com">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/header.css}">
<link rel="stylesheet" th:href="@{/products.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
	integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	<!-- HEADER -->

	<header class="header">

		<a th:href="@{/main}" class="logo"> <img th:src="@{/logo.png}">
		</a>
		<nav class="navbar">

			<a th:href="'javascript:setActive();'" th:text="#{discountLabel}"></a>
			<a th:href="@{/cart}" th:text="#{profile}"></a> <a th:href="@{/cart}"
				th:text="#{contact}"></a>
		</nav>
		<div class="icons">
			<div class="fas fa-shopping-cart" id="cart-btn"></div>
		</div>

		<div class="cart-items-container">
			<div class="cart-item" th:each="basketProduct : ${basketProducts}">
				<a th:href="@{/removeProduct/main/{id}(id=${basketProduct.id})}">
					<span class="fas fa-times"></span>
				</a>
				<div class="content">
					<h3>[[${basketProduct.product.productName}]] |
						[[${basketProduct.shopName}]]</h3>
				</div>
			</div>
			<a class="btn btn-primary" th:href="@{/cart}" role="button"
				th:text="#{basket}"></a>
		</div>

		<div class="discount-container">
			<label for="customRange1" class="form-label">[[#{discountLabel}]]</label>
			<input type="range" class="form-range" min="0" max="100" step="1"
				id="customRange3">
			<div class="text-center">
				<a class="btn btn-primary" role="button" th:text="ENTER"
					th:href="@{/applyDiscount}"></a>
			</div>
		</div>

	</header>

	<!-- HEADER -->
	<div id="info_container_1">
		<p class="h5 infoText" th:text="#{shopName}"></p>
		<p class="h5 infoText" id="shopName" th:text="${shopName}"></p>
	</div>
	<div id="info_container_2">
		<p class="h5 infoText" th:text="#{partName}"></p>
		<p class="h5 infoText" id="category" th:text="#{${category}}"></p>
	</div>
	<div id="product_container">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th scope="col" th:text="#{name}" />
					<th scope="col" th:text="#{price}" />
					<th scope="col" th:text="#{image}" />
					<th scope="col" />

				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${products}">
					<td th:text="${product.productName}" />
					<td th:text="${product.formatPrice()}" />
					<td class="w-25"><img th:src="${product.imageUrl}"
						alt="${product.imageUrl}" class="img-fluid" width=200 height=200 /></td>
					<td><form action="#" th:action="@{addProduct}" method="post"
							th:object="${product}">
							<input type="hidden" th:attr="name='id'" th:value="${product.id}" />
							<input type="hidden" th:attr="name='shopName'"
								th:value="${product.shopName}" /> <input type="hidden"
								th:attr="name='category'" th:value="${product.category}" />
							<button type="submit" value="submit" th:text="#{addBasket}"></button>
						</form></td>
				</tr>
			</tbody>
		</table>
		<button onclick="topFunction()" id="myBtn" th:title="#{topGo}">
			<i class="fas fa-arrow-up"></i>
		</button>
	</div>
	<script type="text/javascript" th:src="@{/js/scrollFunction.js}"></script>
	<script type="text/javascript" th:src="@{/js/productsFunction.js}"></script>
</body>
</html>